:root {
    --moon-rat: 50%;
}

* {
    background: black;
}

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#content {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    width: var(--moon-rat);
    height: var(--moon-rat);
    vertical-align: middle;
}

#moonImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}