:root {
    --moon-rat: 50%;
}

* {
    background: black;
}

#content {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#moon {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(110deg, rgba(154,151,121,1) 0%,rgba(125,185,232,0) 100%), url('../assets/moon.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--moon-rat);
    width: var(--moon-rat);
    padding-top: var(--moon-rat);
}